$heading-fontface: 'Oswald', sans-serif;
$body-fontface: 'Open Sans', sans-serif;

$primaryColor1: #F9F7F7;
$primaryColor2: #DBE2EF;
$primaryColor3: #3F72AF;
$primaryColor4: #112D4E;

body {
    font-family: $body-fontface;
}

